{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="h1 title">Conditions générales de vente</h1>
    <p class="lead">Les présentes conditions générales de vente (CGV) s'appliquent à toutes les transactions effectuées sur le site SimpleJob.</p>
    <section>
        <h2>Objet</h2>
        <p>Les présentes CGV ont pour objet de définir les droits et obligations des parties dans le cadre de la vente en ligne des services proposés par SimpleJob.</p>
    </section>
    <section>
        <h2>Prix</h2>
        <p>Les prix des services sont indiqués en euros, toutes taxes comprises (TTC). SimpleJob se réserve le droit de modifier ses prix à tout moment, tout en garantissant au client l'application du prix en vigueur au jour de la commande.</p>
    </section>
    <section>
        <h2>Commande</h2>
        <p>Le client passe commande sur le site SimpleJob en sélectionnant les services qu'il souhaite acheter. La commande est validée lorsque le client confirme son paiement.</p>
    </section>
    <section>
        <h2>Paiement</h2>
        <p>Le paiement des services s'effectue par carte bancaire via une plateforme de paiement sécurisée.</p>
    </section>
</div>
{% endblock %}
