{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="container my-5 text-white">
    <div class="card bg-dark shadow-sm">
        <div class="card-body">
            <h1 class="card-title h1">Mentions légales</h1>
            <p class="card-text lead">Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site SimpleJob les présentes mentions légales.</p>
            <section class="mb-4">
                <h2 class="h2">Éditeur du site</h2>
                <p>Le site <strong>SimpleJob</strong> est édité par :</p>
                <address>
                    <strong>Nom de l'éditeur :</strong> SimpleJob Worker<br>
                    <strong>Adresse :</strong> 123 Rue de l'Entreprise, 75001 Paris<br>
                    <strong>Téléphone :</strong> 01 23 45 67 89<br>
                    <strong>Email :</strong> contact@simplejob.com
                </address>
            </section>
            <section class="mb-4">
                <h2 class="h2">Hébergement du site</h2>
                <p>L'hébergement du site est assuré par :</p>
                <address>
                    <strong>Nom de l'hébergeur :</strong> OVH<br>
                    <strong>Adresse :</strong> 2 Rue Kellermann, 59100 Roubaix<br>
                    <strong>Téléphone :</strong> 1007
                </address>
            </section>
            <section>
                <h2 class="h2">Propriété intellectuelle</h2>
                <p>La structure générale du site SimpleJob, ainsi que les textes, graphiques, images, sons et vidéos la composant, sont la propriété de l'éditeur. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site SimpleJob, par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de SimpleJob Worker, est strictement interdite et pourrait constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.</p>
            </section>
        </div>
    </div>
</div>
{% endblock %}
