<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Set Cookie</title>
</head>
<body>
    <p>Le cookie a été défini.</p>
    <a href="{{ path('get_cookie') }}">Vérifier le cookie</a>
</body>
</html>
